body {
    background:url(/img/title-bg-flat.png);
    background-position: center center;
    color: #fff;
    font-family: "microsoft yahei";
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
* {
    outline: none !important;
}
a {
    color: #F0F0F0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
a:link {
    color: #F0F0F0;
}
a:visited {
    color: #F0F0F0;
}
a:hover {
    color: #BBB;
    text-decoration: none;
}
/*
Reset the bootstrap css
*/
p {
    margin:0;
}
ul {
    margin:0;
}
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 10px;
}


/*
 * basic control layout reset
 *
 */
/*input[type="search"] {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 }
 input[type="text"] {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 }
 input[type="checkbox"], input[type="radio"] {
 padding: 0;
 box-sizing: border-box;
 }*/

/*
 * util class
 *
 */

.red {
    color: #ef3546;
}
.yellow {
    color: #ffde26;
}
.gray {
    color: #888;
}
.white {
    color: #FFF;
}
.bold {
    font-weight: bold !important;
}
.relative {
    position: relative !important;
}

.lpad-30 {
    padding-left: 30px;
}
.pad-30 {
    padding: 30px !important;
}
.pad-20 {
    padding: 20px !important;
}
.pad-10 {
    padding: 10px !important;
}
.pad-5 {
    padding: 5px !important;
}
.empty-btn {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
}
.unvisiable {
    visibility:hidden;
}

.lf {
    float:left;
}
.rf {
    float:left;
}
.text-center {
    text-align: center;
}
/*
 * page layout
 *
 */

.ddl {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    right: 100px;
}
.ddl li {
    display: block;
    margin: 0;
    padding :0;
}

.btn {
    background:#04CC54;
    border:none;
    box-shadow:0 1px 2px rgba(0,0,0,0.12), inset 0 1px 0 rgba(255,255,255,0.12);
    border-radius:4px;
    color:#FFF !important;
    display:inline-block;
    margin:0;
    padding:8px 12px;
    text-shadow:0 1px 1px rgba(0,0,0,0.3);
}
.btn:hover {
    box-shadow:0 2px 4px rgba(0,0,0,0.22), inset 0 1px 0 rgba(255,255,255,0.24);
}
#icp {
    color:#fff;
    font-size:12px;
    opacity:0.7;
    padding:20px;
    text-align:center;
}
#tv {
    background: url(../img/title-bg-flat.png);
    height: 100%;
    min-height: 540px;
    min-width: 960px;
    position: absolute;
    top: 0;
    width: 100%;
}
#tv #tv-header, #tv #tv-footer, #tv #tv-sider {
    background: url(../img/title-bg.png) center bottom;
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.22), 0 0 12px rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-top: 1px solid #333;
    display: block;
    height: 75px;
    position: relative;
    z-index:5;
}
#tv #tv-header.fix, #tv #tv-footer, #tv #tv-sider {
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
}
#tv #tv-footer {
    border: none;
    border-radius: 0;
    /*border-top: 1px solid rgba(0,0,0,0.5);*/
    bottom: 0;
    /*box-shadow: inset 0 1px 0 rgba(255,255,255,0.22), 0 0 12px rgba(0,0,0,0.6);*/
    height: 60px;
    top: auto;
}
#tv #tv-sider {
    background:rgba(0,0,0,0.45);
    border:none;
    box-shadow:none;
    height:100%;
    left:auto;
    position: fixed;
    right:0;
    top:0;
    width:100px;
}

#tv .tv-side-btn.ico {
    background-color:transparent;
    border:none;
    display:block;
    height:100px;
    width:100px;
}
#tv #btn-list {
    background-position: left -300px;
}
#tv #btn-list:hover {
    background-position:-100px -300px;
}
#tv #btn-refresh {
    background-position: left -400px;
}
#tv #btn-refresh:hover {
    background-position:-100px -400px;
}
#tv #btn-toggle {
    background-position: -300px -300px;
}
#tv #btn-toggle:hover {
    background-position:-400px -300px;
}
#tv #tv-sider .pxt {
    height:300px;
    top:50%;
    margin-top:-150px;
    position:absolute;
    width:100px;
}

#tv #tv-header .wp {
    padding: 10px 15px 10px 15px;
    overflow: visible;
    position: relative;
}
#tv #tv-logo {
    float: left;
    margin-left: 10px;
}
#tv .spliter {
    background: url(../img/title-splr.png);
    bottom: 0;
    height: 80px;
    left: 75px;
    position: absolute;
    width: 2px;
}
#tv #login-and-register-blk {
    font-size:12px;
    height:56px;
    line-height:56px;
    margin:0 15px;
}
#tv #login-and-register-blk span {
    opacity:0.4;
}

#tv #tv-header #rt-spliter {
    background: url(../img/header-splr.png) center center no-repeat;
    float: right;
    height: 50px;
    left: auto;
    margin: 0 5px;
    position: relative;
    top: auto;
}
#tv .ico {
    background: url(../img/n-icon.png) left top no-repeat;
    display: inline-block;
    height: 50px;
    width: 100px;
}
#tv .ico#fullscreen, #tv #refresh {
    background-position: -427px -5px;
    float: right;
    height: 40px;
    margin-top: 6px;
    padding: 0;
    width: 50px;
}
#tv .ico#fullscreen:hover, #tv .ico#fullscreen.on {
    background-position: -527px -5px;
}
#tv #refresh {
    font-size: 12px;
    line-height: 42px;
    margin-right: 20px;
    width: auto;
}
#tv #refresh .ico {
    background-position: -127px -54px;
    float: left;
    width: 50px;
}
#tv #tv-logo {
    left:50%;
    margin-left: -70px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
}


#tv .rr {
    border-radius: 100px;
}

#tv #tv-footer-rtbar, #tv #tv-footer-ltbar {
    background-image: url(../img/header-splr.png);
    background-position: left center;
    background-repeat: no-repeat;
}
#tv #tv-footer-ltbar {
    background-position: right center;
}
#tv #tv-footer-ltbar, #tv #tv-footer-rtbar {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 200px;
}
#tv #tv-footer-rtbar {
    left: auto;
    right: 0;
    width: 250px;
}

#tv #tv-footer-ltbar .wp, #tv #tv-footer-rtbar .wp {
    padding: 5px 15px 5px 30px;
    height: 58px;
}
#tv .ico, #tv .ico {
    background-color: transparent;
    background-image: url(../img/n-icon.png);
    border: none;
    height: 50px;
    margin: 0;
    outline: none;
    padding: 0;
    width: 50px;
}

#tv .layer {
    bottom: 0;
    left: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
#tv #tv-main-container {

}
#tv #tv-video-player {
    display: block;
    height: 100%;
    width: 100%;
}
#tv #tv-cover {
    z-index: 2;
}
#tv #tv-fs-play-btn, #tv #tv-fs-pause-btn {
    background-image: url(../img/fullscreen-icon-flat.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 200px;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}
#tv #tv-fs-play-btn {
    background-position: left -400px;
}
#tv #tv-fs-play-btn:hover {
    background-position: left -600px;
}
#tv #tv-fs-pause-btn {
    background-position: left top;
    display: none;
}
#tv #tv-fs-pause-btn:hover {
    background-position: left -200px;
}

#tv #tv-ctrl-block {
    background:none;
    bottom:0;
    box-sizing:content-box;
    box-shadow:0 0 4px rgba(0,0,0,0.2);
    height:80px;
    left:0;
    position:absolute;
    width:100%;
    z-index:10;
}
#tv #tv-ctrl-c {
    height:100%;
    margin:0 100px;
}
#tv #tv-ctrl-prog {
    background:yellow;
    height:100%;
    width:40%;
}
#tv .tv-ctrl-s {
    background:url(../img/title-bg.png);
    cursor:pointer;
    height:100%;
    position:absolute;
    top:0;
    width:100px;
}
#tv .tv-ctrl-s .ico {
    margin-top:15px;
    width:100px;
}
#tv-ctrl-play {
    left:0
}
#tv-ctrl-play .ico {
    background-position: 0 -498px;
}
#tv-ctrl-play:hover .ico {
    background-position: 0 -548px;
}
#tv-ctrl-fullscreen {
    right:0;
}
#tv-ctrl-fullscreen[full='yes'] .ico {
    background-position: -200px -498px;
}
#tv-ctrl-fullscreen[full='yes']:hover .ico {
    background-position: -200px -548px;
}
#tv-ctrl-fullscreen[full='no'] .ico {
    background-position: -300px -498px;
}
#tv-ctrl-fullscreen[full='no']:hover .ico {
    background-position: -300px -548px;
}

#tv #tv-frame {
    text-align:center;
}
#tv #tv-frame .board {
    background:url(../img/bg.png);
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
    border:2px solid rgba(0,0,0,0.4);
    border-radius:10px;
    display:inline-block;
    margin-top:100px;
    overflow:hidden;
    width:360px;
}
#tv #tv-frame .board .title, #tv #tv-frame .board > .bottom {
    border-bottom:1px solid rgba(0,0,0,0.2);
    box-shadow:0 1px 4px rgba(0,0,0,0.1), inset 0 1px 1px rgba(255,255,255,0.08);
    color:rgba(255,255,255,0.5);
    font-size:17px;
    height:60px;
    line-height:60px;
    margin:0;
    padding:0 30px;
    text-align:left;
}
#tv #tv-frame .board .title a {
    color:#FF0;
    float:right;
    font-size:12px;
}
#tv #tv-frame .board > .bottom {
    font-size:12px;	
}
#tv #tv-frame .board .content {
    padding:30px 0 20px 0;
}
#tv #tv-frame .bdrow, #tv #tv-frame .half-row {
    padding-bottom:15px;
}
#tv #tv-frame .half-row {
    margin-bottom:5px;
    padding-left:30px;
    text-align:left;
}
#tv #tv-frame .half-row label {
    color:#aaa;
    font-size:12px;
    margin:0;
}
#tv #tv-frame .half-row input[type='checkbox'] {
    margin-top:4px;
}
#tv #tv-frame .bdrow input, #tv #tv-frame .bdrow button {
    border:0;
    border-radius:500px;
    box-sizing:border-box;
    box-shadow:0 1px 2px rgba(0,0,0,0.2);
    height:42px;
    line-height:20px;
    margin:0;
    padding:0 20px;
    width:300px;
}
#tv #tv-frame .bdrow input {
    background:rgba(0,0,0,0.1);
    box-shadow:0 1px 0 rgba(255,255,255,0.08), inset 0 2px 2px rgba(0,0,0,0.1);
    color:#FFF;
    padding-top:11px;
    padding-bottom:11px;
    text-shadow:0 2px 2px rgba(0,0,0,0.2);
}
#tv #tv-frame .bdrow input:focus {
    background:rgba(0,0,0,0.24);
}
#tv #tv-frame .bdrow button {
    background:#FF0;
    box-shadow:inset 0 2px 2px rgba(255,255,255,0.2);
    color:rgba(0,0,0,0.6);
    font-weight:bold;
    text-shadow:0 1px 0 rgba(255,255,255,0.5);
}
#tv #tv-frame .bdrow button:hover {
    background:#FFD800;
}

.sign-gotmsg {
    margin:-30px 0 15px 0;
}

/*
 *	untitle id & class
 * */


