/*
Common css
*/
.font12px {
    font-size:12px;
}
.font14px {
    font-size:14px;
}
.marginbottom10px {
    margin-bottom:10px !important;
}
.marginbottom20px {
    margin-bottom:20px !important;
}
.marginbottom50px {
    margin-bottom:50px !important;
}
.margintop20px {
    margin-top:20px !important;
}
.paddingbox20px {
    padding:20px !important;
}
.green {
    color:#398439 !important;
}
.red {
    color:#8C0000 !important;
}
.white {
    color:white !important;
}
.relative {
    position:relative !important;
}
.hidden {
    display:none;
}
.P_tmp {
    display:none;
}
button[disabled='disabled'], input[disabled='disabled'] {
    opacity:0.5;
}
/*
Plugin Css
*/
/* PAPER (START) */
.paper {
    border-radius:3px;
    box-shadow:0 1px 2px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.1);
    box-sizing:border-box;
    line-height:22px;
    padding:12px;
}
.paper.paper-danger {
    background:#DF4946;
}
.paper.paper-success {
    background:#04CC54;
}
.paper.paper-warning {
    background:#FDF26B;
    color:#C08200;
    text-shadow:0 1px 0 rgba(255,255,255,0.7);
}
/* PAPER (END) */

.border-btn {
    border:2px solid #FFF;
    border-radius:3px;
    color:#FFF !important;
    font-size:14px;
    padding:5px 12px;
    text-shadow:none;
}
.border-btn.border-btn-lg {
    font-size:15px;
    padding:5px 15px;
}
.border-btn.border-btn-sm {
    font-size:13px;
    padding:3px 10px;
}
.border-btn.border-btn-xs {
    border-width:1px;
    font-size:12px;
    padding:1px 6px;
}