body {
    background:url(/img/title-bg-flat.png);
    background-position: center center;
    color: #fff;
    font-family: "microsoft yahei";
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
* {
    outline: none !important;
}
a {
    color: #F0F0F0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
a:link {
    color: #F0F0F0;
}
a:visited {
    color: #F0F0F0;
}
a:hover {
    color: #BBB;
    text-decoration: none;
}
/*
Reset the bootstrap css
*/
p {
    margin:0;
}
ul {
    margin:0;
}
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 10px;
}


/*
 * basic control layout reset
 *
 */
/*input[type="search"] {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 }
 input[type="text"] {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 }
 input[type="checkbox"], input[type="radio"] {
 padding: 0;
 box-sizing: border-box;
 }*/

/*
 * util class
 *
 */

.red {
    color: #ef3546;
}
.yellow {
    color: #ffde26;
}
.gray {
    color: #888;
}
.white {
    color: #FFF;
}
.bold {
    font-weight: bold !important;
}
.relative {
    position: relative !important;
}

.lpad-30 {
    padding-left: 30px;
}
.pad-30 {
    padding: 30px !important;
}
.pad-20 {
    padding: 20px !important;
}
.pad-10 {
    padding: 10px !important;
}
.pad-5 {
    padding: 5px !important;
}
.empty-btn {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
}
.unvisiable {
    visibility:hidden;
}

.clear, .clear-5, .clear-10, .clear-15, .clear-20, .clear-30, .clear-50 {
    clear: both;
    display: block;
    font-size: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clear-5 {
    height: 5px;
}
.clear-10 {
    height: 10px;
}
.clear-15 {
    height: 15px;
}
.clear-20 {
    height: 20px;
}
.clear-30 {
    height: 30px;
}
.clear-50 {
    height: 50px;
}
.clear-line {
    background: #BBB;
    clear: both;
    font-size: 0;
    height: 1px;
    margin: 4px 0;
    width: auto;
}
.clearfix {
    overflow: auto;
    _height: 1%
}
.lf {
    float:left;
}
.rf {
    float:left;
}
.text-center {
    text-align: center;
}
/*
 * page layout
 *
 */

.ddl {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    right: 100px;
}
.ddl li {
    display: block;
    margin: 0;
    padding :0;
}

.btn {
    background:#04CC54;
    border:none;
    box-shadow:0 1px 2px rgba(0,0,0,0.12), inset 0 1px 0 rgba(255,255,255,0.12);
    border-radius:4px;
    color:#FFF !important;
    display:inline-block;
    margin:0;
    padding:8px 12px;
    text-shadow:0 1px 1px rgba(0,0,0,0.3);
}
.btn:hover {
    box-shadow:0 2px 4px rgba(0,0,0,0.22), inset 0 1px 0 rgba(255,255,255,0.24);
}

#tv {
    background: url(../img/title-bg-flat.png);
    height: 100%;
    min-height: 540px;
    min-width: 960px;
    position: absolute;
    top: 0;
    width: 100%;
}
#tv #tv-header, #tv #tv-footer, #tv #tv-sider {
    background: url(../img/title-bg.png) center bottom;
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.22), 0 0 12px rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-top: 1px solid #333;
    display: block;
    height: 75px;
    position: relative;
    z-index:5;
}
#tv #tv-header.fix, #tv #tv-footer, #tv #tv-sider {
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}
#tv #tv-footer {
    border: none;
    border-radius: 0;
    /*border-top: 1px solid rgba(0,0,0,0.5);*/
    bottom: 0;
    /*box-shadow: inset 0 1px 0 rgba(255,255,255,0.22), 0 0 12px rgba(0,0,0,0.6);*/
    height: 60px;
    top: auto;
}
#tv #tv-sider {
    background:url(../img/title-bg-flat.png);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius:5px 0 0 5px;
    box-shadow: inset 0 0 1px rgba(255,255,255,0.32), 0 0 12px rgba(0,0,0,0.6);
    height:auto;
    left:auto;
    margin-top:-120px;
    right:0;
    padding-bottom:20px;
    top:50%;
    width:90px;
}
#tv #tv-sider #tv-toggle {
    background:rgba(0,0,0,0.4);
    border-radius:400px;
    box-sizing:border-box;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2), 0 1px 0 rgba(255,255,255,0.15);
    display:block;
    margin:20px;
    padding:3px;
    width:50px;
}
/*#tv #tv-sider #tv-toggle {
    background:rgba(0,0,0,0.4);
    border-radius:400px;
    box-sizing:border-box;
    border:2px solid #FF0;
    margin:20px;
    padding:3px;
    width:50px;
}*/
#tv #tv-sider #tv-toggle .bt-go {
    background:none;
    border-radius:300px;
    box-shadow:none;
    cursor:pointer;
    height:44px;
    line-height:44px;
    opacity:0.5;
    text-align:center;
    width:44px;
}
/*#tv #tv-sider #tv-toggle .bt-go {
    background:none;
    border-radius:300px;
    box-shadow:none;
    cursor:pointer;
    height:40px;
    line-height:40px;
    opacity:0.5;
    text-align:center;
    width:40px;
}*/
#tv #tv-sider #tv-toggle .bt-go.selected {
    background:url(../img/title-bg-flat.png);
    box-shadow:0 1px 1px rgba(0,0,0,0.35), inset 0 1px 0px rgba(255,255,255,0.2);
    color:#FF0 !important;
    opacity:1;
}
/*#tv #tv-sider #tv-toggle .bt-go.selected {
    background:#FF0;
    color:rgba(0,0,0,0.9) !important;
    opacity:1;
    text-shadow:none;
}*/
#tv #tv-sider #tv-toggle .bt-go:hover {
    opacity:1;
}
/*#tv #tv-sider #tv-toggle .bt-go:hover {
    opacity:1;
}*/
#tv #tv-header .wp {
    padding: 10px 15px 10px 15px;
    overflow: visible;
    position: relative;
}
#tv #tv-logo {
    float: left;
    margin-left: 10px;
}
#tv .spliter {
    background: url(../img/title-splr.png);
    bottom: 0;
    height: 80px;
    left: 75px;
    position: absolute;
    width: 2px;
}
#tv #login-and-register-blk {
    font-size:12px;
    height:56px;
    line-height:56px;
    margin:0 15px;
}
#tv #login-and-register-blk span {
    opacity:0.4;
}
#tv #profile-img {
    background-color: #EEE;
    border-radius:300px;
    box-shadow:0 1px 1px rgba(0,0,0,0.35);
    display: inline-block;
    float:left;
    height: 42px;
    margin-top:5px;
    overflow: hidden;
    width: 42px;
}
#tv #profile-img img {
    height: 42px;
    width: 42px;
}
#tv #profile-txt {
    float: right;
    margin-left: 15px;
}
#tv #profile-txt {
    display: block;
    font-size: smaller;
    height: 40px;
    line-height: 40px;
    position: relative;
}
#tv #profile-txt span {
    float: left;
}
#tv #profile-txt .ico {
    background-position: -230px -155px;
    display: block;
    float: right;
    height: 40px;
    width: 40px;
}
#tv #profile-txt a {
    display: block;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
#tv #tv-header #rt-spliter {
    background: url(../img/header-splr.png) center center no-repeat;
    float: right;
    height: 50px;
    left: auto;
    margin: 0 5px;
    position: relative;
    top: auto;
}
#tv .ico {
    background: url(../img/n-icon.png) left top no-repeat;
    display: inline-block;
    height: 50px;
    width: 100px;
}
#tv .ico#fullscreen, #tv #refresh {
    background-position: -427px -5px;
    float: right;
    height: 40px;
    margin-top: 6px;
    padding: 0;
    width: 50px;
}
#tv .ico#fullscreen:hover, #tv .ico#fullscreen.on {
    background-position: -527px -5px;
}
#tv #refresh {
    font-size: 12px;
    line-height: 42px;
    margin-right: 20px;
    width: auto;
}
#tv #refresh .ico {
    background-position: -127px -54px;
    float: left;
    width: 50px;
}
#tv #tv-logo {
    left:50%;
    margin-left: -70px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
}


#tv #tv-footer #tv-prog {
    background: rgba(0,0,0,0.3);
    border-radius: 100px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.15), inset 0 1px 2px rgba(0,0,0,0.2);
    height: 10px;
    position: relative;
}
#tv #tv-footer #tv-prog #tv-prog-seekbar, #tv #tv-footer #tv-prog #tv-prog-loaded {
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#tv #tv-footer #tv-prog #tv-prog-seekbar {
    z-index: 5;
}
#tv #tv-footer #tv-prog #tv-prog-loaded {
    background: url(../img/volume.png);
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    width: 0;
}
#tv .rr {
    border-radius: 100px;
}
/*#tv #tv-prog-timer, #tv #tv-prog-title {
    border-radius: 100px;
    font-size: smaller;
    position: absolute;
    right: 0;
    top: -26px;
}*/
#tv #tv-prog-title {
    background:rgba(0,0,0,0.2);
    border-radius:100px;
    bottom:140px;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    left: 50%;
    margin-left:-350px;
    right: auto;
    padding:10px 0;
    position:absolute;
    text-align:center;
    text-shadow: 0 1px 3px rgba(0,0,0,0.4);
    width:700px;
    z-index:2;
}
#tv #tv-prog-timer #t1 {
    opacity: 0.9;
}
#tv #tv-prog-timer #t2 {
    opacity: 0.5;
    margin: 0 8px;
}
#tv #tv-prog-timer #t3 {
    opacity: 0.5;
}
#tv #tv-prog-timer * {
    font-size:smaller !important;
}
#tv #tv-footer-mdbar, #tv #tv-footer-rtbar, #tv #tv-footer-ltbar {
}
#tv #tv-footer-rtbar, #tv #tv-footer-ltbar {
    background-image: url(../img/header-splr.png);
    background-position: left center;
    background-repeat: no-repeat;
}
#tv #tv-footer-ltbar {
    background-position: right center;
}
#tv #tv-footer-ltbar, #tv #tv-footer-rtbar {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 200px;
}
#tv #tv-footer-rtbar {
    left: auto;
    right: 0;
    width: 250px;
}
#tv #tv-footer-mdbar {
    margin: 0 290px 0 240px;
    padding-top: 36px;
    width: auto;
}
#tv #tv-footer-ltbar .wp, #tv #tv-footer-rtbar .wp {
    padding: 5px 15px 5px 30px;
    height: 58px;
}
#tv .ico, #tv .ico {
    background-color: transparent;
    background-image: url(../img/n-icon.png);
    border: none;
    height: 50px;
    margin: 0;
    outline: none;
    padding: 0;
    width: 50px;
}
#tv .ico#play {
    background-position: -125px -100px;
}
#tv .ico#play:hover {
    background-position: -125px -250px;
}
#tv .ico#pause {
    background-position: -25px -100px;
    display: none;
}
#tv .ico#pause:hover {
    background-position: -25px -250px;
}
#tv .ico#prev {
    background-position: -230px -100px;
    width: 40px;
}
#tv .ico#prev:hover {
    background-position: -230px -250px;
}
#tv .ico#next {
    background-position: -230px -50px;
    width: 40px;
}
#tv .ico#next:hover {
    background-position: -230px -200px;
}
#tv #volume-ctrl {
    margin-left: 20px;
    padding-top: 14px;
}
#tv #volume-speaker {
    background-position: -338px -63px;
    border:none;
    height: 24px !important;
    width: 24px !important;
}
#tv #tv-spk.disable {
    background-position: -425px -50px !important;
}
/*#tv #volume-holder {
    background: rgba(0,0,0,0.3);
    border-radius: 100px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.12);
    cursor: pointer;
    height: 10px;
    margin: 7px 10px;
    width: 100px;
}
#tv #volume-in {
    background: url(../img/volume.png);
    border-radius: 100px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}*/
#tv #tv-listbtn, #tv #tv-spk {
    background-position: -25px -50px;
    /*float: right;*/
    height: 50px;
    margin-right:50px;
}
#tv #tv-listbtn:hover {
    background-position: -25px -200px;
}
#tv #tv-spk {
    background-position: -325px -50px;
    cursor:pointer;
    margin-left:50px;
    margin-right:0;
    position:relative;
}
#tv #tv-spk #tv-spk-bar {
    background:rgba(0,0,0,0.2);
    border-radius:100px;
    bottom:40px;
    box-sizing: border-box;
    display:none;
    height:110px;
    padding:5px;
    position:absolute;
    right:15px;
    width:20px;
    z-index:3;
}
#tv #tv-spk:hover #tv-spk-bar {
    display:block;
}
#tv #tv-spk #tv-spk-bar-prog {
    background:rgba(0,0,0,0.2);
    border-radius:100px;
    box-shadow:inset 0 0 5px rgba(0,0,0,0.1);
    height:100px;
    position:relative;
    width:10px;
}
#tv #tv-spk #tv-spk-bar-prog-loaded {
    background:#F0F0F0;
    border-radius:100px;
    bottom:0;
    box-shadow:0 0 4px rgba(0,0,0,0.2);
    height:100%;
    left:0;
    position:absolute;
    width:10px;
}
#tv #tv-spk:hover {
    background-position: -425px -200px;
}
#tv .layer {
    bottom: 0;
    left: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
#tv #tv-main-container {

}
#tv #tv-video-player {
    display: block;
    height: 100%;
    width: 100%;
}
#tv #tv-cover {
    z-index: 2;
}
#tv #tv-fs-play-btn, #tv #tv-fs-pause-btn {
    background-image: url(../img/fullscreen-icon-flat.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 200px;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}
#tv #tv-fs-play-btn {
    background-position: left -400px;
}
#tv #tv-fs-play-btn:hover {
    background-position: left -600px;
}
#tv #tv-fs-pause-btn {
    background-position: left top;
    display: none;
}
#tv #tv-fs-pause-btn:hover {
    background-position: left -200px;
}
#tv #tv-listbar {
    background: url(../img/bg.png) #333;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 8px;
    box-sizing: content-box;
    box-shadow: inset 0 0 1px rgba(255,255,255,0.5), 0 0 6px rgba(0,0,0,0.5);
    top: 42%;
    display: none;
    height: 300px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    width: 360px;
    margin-left:-181px;
    margin-top:-150px;
    z-index: 2;
}
#tv #tv-listbar-title {
    background: url(../img/title-bg-dark.png) center bottom;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.4);
    box-sizing: content-box;
    height: 60px;
}
#tv #tv-listbar-title .wp {
    box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
    border-left: 1px solid rgba(0,0,0,0.5);
    float: left;
    height: 100%;
    width: 300px;
}
#tv #tv-author-img {
    background-size:cover;
    background-position:center center;
    display: inline-block;
    float: left;
    height:60px;
    width:60px;
}
#tv #tv-special-name {
    margin-bottom: 3px;
    height:20px;
    overflow:hidden;
    width:220px;
}
#tv #tv-author-name {
    font-size: smaller;
}
#tv #tv-listbar-close {
    background: url(../img/n-icon.png) -325px -100px no-repeat;
    float: right;
    height: 50px;
    margin-top: 5px;
    width: 50px;
}
#tv #tv-listbar-content {
    max-height: 320px;
    overflow: auto;
}
#tv #tv-listbar-content .itm {
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    font-size: 13px;
    margin: 0;
    padding: 0;
    width: 100%;
}
#tv #tv-listbar-content .itm:last-child {
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
    margin-bottom: 10px;
}
#tv #tv-listbar-content .itm.selected {
    background: url(../img/title-bg-sm.png) left bottom !important;
    border-bottom: 1px solid rgba(0,0,0,0.6);
    border-top: 1px solid rgba(0,0,0,0.5);
    box-shadow: inset 0 0 1px rgba(255,255,255,0.3);
}
#tv #tv-listbar-content .itm:nth-child(even) {
    background: rgba(255,255,255,0.07);
}
#tv #tv-listbar-content .itm:hover {
    background: rgba(0,0,0,0.15);
}
#tv #tv-listbar-content .itm .col {
    display: inline-block;
    float: left;
    line-height: 30px;
    margin: 0 10px;
}
#tv #tv-listbar-content .itm .col2 {
    opacity: 0.7;
}
#tv #tv-listbar-content .itm.selected .col2 {
    opacity: 1;
}
#tv #tv-listbar-content .itm .col3 {
    float: right;
    font-size: 12px;
    opacity: 0.4;
}
#tv #tv-listbar-content .ico {
    display: block;
    height: 30px;
    width: 20px;
}
#tv #tv-listbar-content .ico.play {
    background-position: -140px -160px;
}
#tv #tv-listbar-content .ico.pause {
    background-position: -40px -160px;
}
#tv #tv-listbar-content .ico.null {
    background: none;
}
#tv #tv-ctrl-block {
    background:url(../img/title-bg.png) center bottom;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius:1000px;
    bottom:50px;
    box-sizing:content-box;
    box-shadow:inset 0 0 1px rgba(255,255,255,0.32), 0 0 12px rgba(0,0,0,0.6);
    height:auto;
    left:50%;
    margin-left:-176px;
    position:absolute;
    width:350px;
    z-index:10;
}

#tv #tv-header-ddl {
    background: url(../img/bg.png);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    box-shadow: inset 0 0 1px rgba(255,255,255,0.5), 0 0 6px rgba(0,0,0,0.5);
    display: none;
    left:0;
    overflow: hidden;
    right:auto;
}
#tv #tv-header-ddl li {
    font-size: 12px;
    line-height: 20px;
    padding: 8px 20px 8px 45px;
    position:relative;
}
#tv #tv-header-ddl li .ico {
    background-position: -341px -165px;
    height: 20px;
    float: left;
    margin-right: 15px;
    position:absolute;
    left:12px;
    top:9px;
    width: 20px;
}
#tv #tv-header-ddl li .ico.list {
    background-position: -541px -65px;
}
#tv #tv-header-ddl li .ico.profile {
    background-position: -440px -164px;
}
#tv #tv-header-ddl li .txt {
    display: inline-block;
    padding-top: 1px;
}
#tv #tv-header-ddl li.hspliter {
    border-top: 1px solid rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.12);
}
#tv #tv-header-ddl li:hover {
    background-color: rgba(0,0,0,0.15);
}

#tv #tv-frame {
    text-align:center;
}
#tv #tv-frame .board {
    background:url(../img/bg.png);
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
    border:2px solid rgba(0,0,0,0.4);
    border-radius:10px;
    display:inline-block;
    margin-top:100px;
    overflow:hidden;
    width:360px;
}
#tv #tv-frame .board .title, #tv #tv-frame .board > .bottom {
    border-bottom:1px solid rgba(0,0,0,0.2);
    box-shadow:0 1px 4px rgba(0,0,0,0.1), inset 0 1px 1px rgba(255,255,255,0.08);
    color:rgba(255,255,255,0.5);
    font-size:17px;
    height:60px;
    line-height:60px;
    margin:0;
    padding:0 30px;
    text-align:left;
}
#tv #tv-frame .board .title a {
    color:#FF0;
    float:right;
    font-size:12px;
}
#tv #tv-frame .board > .bottom {
    font-size:12px;	
}
#tv #tv-frame .board .content {
    padding:30px 0 20px 0;
}
#tv #tv-frame .bdrow, #tv #tv-frame .half-row {
    padding-bottom:15px;
}
#tv #tv-frame .half-row {
    margin-bottom:5px;
    padding-left:30px;
    text-align:left;
}
#tv #tv-frame .half-row label {
    color:#aaa;
    font-size:12px;
    margin:0;
}
#tv #tv-frame .half-row input[type='checkbox'] {
    margin-top:4px;
}
#tv #tv-frame .bdrow input, #tv #tv-frame .bdrow button {
    border:0;
    border-radius:500px;
    box-sizing:border-box;
    box-shadow:0 1px 2px rgba(0,0,0,0.2);
    height:42px;
    line-height:20px;
    margin:0;
    padding:0 20px;
    width:300px;
}
#tv #tv-frame .bdrow input {
    background:rgba(0,0,0,0.1);
    box-shadow:0 1px 0 rgba(255,255,255,0.08), inset 0 2px 2px rgba(0,0,0,0.1);
    color:#FFF;
    padding-top:11px;
    padding-bottom:11px;
    text-shadow:0 2px 2px rgba(0,0,0,0.2);
}
#tv #tv-frame .bdrow input:focus {
    background:rgba(0,0,0,0.24);
}
#tv #tv-frame .bdrow button {
    background:#FF0;
    box-shadow:inset 0 2px 2px rgba(255,255,255,0.2);
    color:rgba(0,0,0,0.6);
    font-weight:bold;
    text-shadow:0 1px 0 rgba(255,255,255,0.5);
}
#tv #tv-frame .bdrow button:hover {
    background:#FFD800;
}
#tv #btn-refresh {
    background:url("../img/btn-refresh.png") center top no-repeat #FF0;
    border-radius:200px;
    box-shadow:0 1px 3px rgba(0,0,0,0.3);
    border: none;
    color:rgba(0,0,0,0.8) !important;
    cursor:pointer;
    display:block;
    font-size:smaller;
    height:50px;
    line-height:50px;
    margin-left:20px;
    text-align:center;
    text-indent: -999px;
    text-shadow:none !important;
    width:50px;
}
#tv #btn-refresh:hover {
    /*background-position: center bottom;*/
    background-image:none;
    text-indent: 0;
}
.sign-gotmsg {
    margin:-30px 0 15px 0;
}

/*
 *	untitle id & class
 * */

#tvidx01 {
    color: #888;
    font-size: smaller;
}
#tvidx02 {
    float: left;
    padding: 8px 0 8px 15px;
}
