#crni-tt {
	font-size:24px;
}
#topblock .bblne {
	font-size:14px;
}
.xc04 {
	padding-top:5px;
	font-size:12px;
}
#footerblock {
	height:auto;
	background-position:center bottom;
	padding-bottom:30px;
	background-color:#FFF;
}
#footerblock .en {
	background-color:#FFF;
}
